@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme"{
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
};

body{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




.icon-box {
  @apply w-12 h-12 flex items-center justify-center rounded-full bg-[#1a1a1a] 
  transition duration-300 ease-in-out cursor-pointer;
}

.icon-box:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
  transform: scale(1.15);
  background-color: #222;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
